*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  body {
      margin: 0;
      background-color: #f4f4f4;
  }

    font-family: "Josefin Sans", sans-serif;
  
}
button, a , li, ul, span{
    font-family: "Josefin Sans", sans-serif;

}

main {
  margin: 0;  
  padding: 0; 
}


/* Secao 01 */
.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    text-align: center;
    padding: 0 20px;
    z-index: 0;
  }
  
  .logo-section .logo {
    font-size: 84px;
    letter-spacing: 12px;
    font-weight: bold;
    margin-bottom: 10px;
  }
 
  .logo-section .logo span {
    display: inline-block;
    position: relative;
    font-family:'Roboto', sans-serif;

  }
  
  .logo-section .logo .up {
    top: -20px;
  }
  
  .logo-section .logo .down {
    top: 20px;
  }
  
  
  .logo-section .subtitle {
    font-size: 20px;
    letter-spacing: 2px;
    color: #888;
    margin-top: 2%;
  }

  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-20px);
    }
  }

  .up{
    animation:
      bounce 600ms
      alternate infinite   
  }

  .down{
    animation:
      bounce 500ms
      alternate infinite   
  }
  @media (max-width: 768px) {
    .logo-section .logo {
        font-size: 42px;
        letter-spacing: 6px;
    }
    .logo-section .logo .up {
        top: -10px;
    }
    .logo-section .logo .down {
        top: 10px;
    }
  }


  /* Seção 02 */

  .titulo02{
    text-align: center;
    width: 100%;
  }

  .chamada01{
    color: #3e9277e2;
    font-size: xx-large;
  }
  .cards{
      width: 80%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.card{
    width: 40%;
    font-size: larger;
    color: #000000ef;
    padding: 80px;
    border-radius: 100px 0px 0px 100px;
    background: linear-gradient(90deg, rgb(153, 179, 170) 0%, rgb(205, 224, 219) 46%, rgba(255,255,255,1) 100%);
}

@media (max-width: 768px) {
  .titulo02{
    width: 90%;
    margin: 0 auto;
  }
  .cards{
    width: 90%;
    flex-direction: column;
    gap: 20px;
}
  .card{
    width: 100%;
    padding: 20px;
  }
}


/* Secao03 */

.secao-identidade {
    text-align: center;
    padding: 4rem 2rem;
}

.secao-identidade h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.secao-identidade p {
    color: #666;
    font-size: 1rem;
    margin-bottom: 3rem;
}


.container-grafico {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.linha {
    display: flex;
    justify-content: center;
    gap: 6rem; 
    flex-wrap: wrap;
}

.linha.meio {
    align-items: center;
}

.linha.meio span {
    font-size: 1.5rem;
    color: #006666;
}

.linha span {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}



.linha img {
    width: 320px;
    height: auto;
    margin: 0 3rem; 
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .linha {
        flex-direction: column;
        gap: 1.5rem;
    }

    .linha img {
        width: 200px;
        margin: 2rem 0;
    }
}

/* secao 04 */

.tituloSecao{
    width: 40%;
    gap: 5%;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.tituloSecao img{
    width: 300px;
    margin-left: 0;
}

.tituloSecao h1{
    margin-top: 16%;
    font-size: 42px;
    text-align: left;
}

.containerServPersonalizados {
    width: 100%;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    box-sizing: border-box;
}

.alinhamentoHorizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;
}

.alinhamentoHorizontal.invertido {
    flex-direction: row-reverse;
}

.circuloWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoWrapper {
    flex: 1;
    padding: 20px;
}

.textoWrapper h2 {
    display: inline-block;
    position: relative;
    font-size: 1.8rem;
}

.textoWrapper h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 60%;
    height: 2px;
    background: #3a8b6b;
    border-radius: 2px;
}

.textoWrapper p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #444;
}

.circuloSobrepostoWrapper {
    position: relative;
    width: 500px; /* Aumentado */
    height: 500px; /* Aumentado */
}

.circuloBase {
    background: white;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    box-shadow: rgb(58, 139, 107) 0px 8px 24px,
                rgba(59, 159, 136, 0.452) 0px 16px 56px,
                rgba(58, 165, 140, 0.589) 0px 24px 80px;
}

.imagemSobreposta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%; 
    height: 90%; 
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}


/* secao 05 */

.tituloSecao02 {
    width: 51%;
    gap: 2%;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.tituloSecao02 img {
    width: 300px;
    margin-right: 0;
}

.tituloSecao02 h1 {
    margin-top: 16%;
    font-size: 42px;
    text-align: right;
}

.containerMetodo {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.formaFundo {
    position: absolute;
    top: 55%;
    left: 22%; 
    width: 700px;
    height: 700px;
    background: #A4D2CD;
    border-radius: 50% 20% 90% 0% / 50%; 
    opacity: 0.3;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.quadrados {
    display: grid;
    grid-template-columns: repeat(2, 300px); 
    grid-gap: 60px 100px; 
    z-index: 1;
}

.quadrado {
    width: 350px;
    height: 350px;
    background-color: white;
    border: 1.5px solid #007F7F;
    border-radius: 26px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    transition: 0.7s;
}


.quadrado:hover{
    background-color: #006666;
}

.verde{
    color: #006666;
}

.branco{
    color: #ffffff;
}

h2{
    font-weight: 400;
}
.linha span{
    font-weight: 400;
}

/* Seção Contato */
.contato-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    position: relative;
    width: 70%;

}

.form-wrapper {
    flex: 1;
    max-width: 60%;
    padding: 20px;
}

.form-contato {
    display: flex;
    flex-direction: column;
   
    gap: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    color: #006666;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: -20px;
    margin-left: 10px;
    z-index: 2;
    background-color: #ffffff;
    width: max-content;
    padding: 5px;
}

.form-group input {
    padding: 12px;
    border: 1px solid #00000028;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.form-group input:focus {
    outline: none;
    border-color: #006666;
}

.btn-enviar {
    background-color: #006666;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start;
    margin: auto;
    margin-top: 10px;
}

.btn-enviar:hover {
    background-color: #005555;
}

.hidden {
    opacity: 0;
    transform: translateX(0);
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.show-left {
    opacity: 1;
    transform: translateX(0);
}

.show-right {
    opacity: 1;
    transform: translateX(0);
}

.cardAlc-conteudo.esquerda.hidden {
    transform: translateX(-100px);
}

.cardAlc-conteudo.direita.hidden {
    transform: translateX(100px);
}



.linha-vertical {
    width: 40%;
    height: 700px;
    background-color: #057471;
    position: absolute;
    right: -22%;
    z-index: -2;
}

.imagem-contato img{
    max-height: 500px;
    border-radius: 15px;
   
}


/* secao 06 */

.cardAlc {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: center;
    padding: 40px 0;
  }
  
  .cardAlc-item {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .cardAlc-conteudo {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: sans-serif;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
  }
  
  .cardAlc-conteudo.esquerda {
    align-items: left;
    margin-right: 15%;
    color: #ffffff;
    width: 65%;
    background: linear-gradient(to right, #000000 60%, transparent);
  }
  
  .cardAlc-conteudo.direita {
    align-items: right;
    margin-left: 15%;
    width: 65%;
    background: linear-gradient(to left, #A4D2CD 40%, transparent);
  }
  
  .cardAlc-conteudo h1 {
    font-size: 2.5rem;
    margin: 0 auto;
  }
  
  .cardAlc-conteudo p {
    margin: 0 auto;
    font-size: 0.95rem;
    max-width: 400px;
    text-align: center;
  }
  
  .colorido .cardAlc-content {
    color: #000;
  }

/* secao 07 */

.cardsSuporte{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2%;
    background-color: #00555511;
    border-radius: 15px;
}

.cardSup01, .cardSup02, .cardSup03{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 30%;
    padding: 10%;
    border-radius: 15px;
}

.tituloSup{
    font-size: xx-large;
}


  


@media (max-width: 768px) {
    .contato-container {
        flex-direction: column;
    }

    .linha-vertical {
       
        
    }

    .form-wrapper, .imagem-contato {
        max-width: 100%;
    }

    .btn-enviar {
        align-self: center;
        width: 100%;
    }
}

@media (max-width: 768px) {
    h2{
        font-size: medium;
    }
}