<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="keywords"
        content="tecnologia, serviços com IA">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Aether</title>
</head>

<body>
    {% block header %}
    <header class="header">
    </header>
    {% endblock %}

    {% block conteudo %}
    {% endblock %}

    {% block footer%}
    <footer>
        <p class="copy">&copy; Copyright 2025. Por:<a href="https://www.instagram.com/blenddev/"> @Blenddev</a></p>
    </footer>
    {% endblock %}

</body>

</html>